/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page background */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, #020617, #0f172a);
  color: #e5e7eb;
  min-height: 100vh;
}

/* Main container */
.app-container {
  width: 100%;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background: #1e1b4b;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Navigation */
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #cbd5f5;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Main content */
.content {
  width: 100%;
  padding: 40px 60px;
}

/* Title */
.content h1 {
  margin-bottom: 10px;
}

/* Search input */
input {
  margin-top: 20px;
  padding: 10px 14px;

  width: 260px;

  border-radius: 8px;
  border: 1px solid #334155;

  background: #020617;
  color: white;
}

/* Chart area */
.chart-container {
  width: 100%;
  margin-top: 40px;

  background: #020617;
  padding: 30px;

  border-radius: 10px;
  border: 1px solid #1f2937;
}

/* Table */
table {
  width: 100%;
  margin-top: 40px;

  border-collapse: collapse;
  background: #020617;
}

/* Table header */
thead {
  background: #0f172a;
}

th {
  padding: 14px;
  text-align: center;
  font-weight: 600;
  color: #94a3b8;
}

/* Table rows */
td {
  padding: 14px;
  text-align: center;
  border-top: 1px solid #1f2937;
}

tr:hover {
  background: #020617;
}
